---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{site.max_width}};

@import
  "variables",
  "themes",
  "layout",
  "base"
;

#webvtt-player {
  width: 30%;
}

.webvtt-player .media {
  // width: 25%;
  border: thin solid #ccc;
  margin-right: auto;
  flex-direction: column;
}

.anchor {
  font-size: large;
  margin-left: 0.5em;
  color: #bbb;
  display: block;

}

// remove bullet points from lists at any level of nesting inside .blog-toc

.blog-toc ul {
  list-style-type: none;
  padding: 0;
}

.webvtt-player audio {
  // width: 25%;
  background-color: #ccc;
}

.webvtt-player audio::-webkit-media-controls-panel {
  background-color: #ccc;
}

.webvtt-player .tracks {
  display: flex;
}

.webvtt-player .controls {
  padding: 5px;
  text-align: center;
  // vertical-align: text-top;
  background-color: #ccc;
}

.webvtt-player .seekBar {
  // vertical-align: middle;
  width: 70%;
}

.search {
  border-top: thin solid #ccc;
  padding: 5px 5px 5px 5px;
  font-size: 14pt;
  margin-top: 5px;
}

.search .container {
  border: thin solid #ccc;
}

.search input {
  font-size: 12pt;
  border: none;
  width: 90%;
}

.search input:focus {
  outline: none;
}

.search .icon {
  padding-left: 5px;
  padding-right: 5px;
}

.papercast-window {
  width: $max-content-width;
  height: 100vh;
}

#papercast-equations-figures {
  display: flex;
  flex-wrap: wrap;
}

#papercast-equations {
  max-width: 25%;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

#papercast-figures {
  max-width: 25%;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

#papercast-equations > equation > img {
  max-width: 100%;
  max-height: 100%;
}

#papercast-figures > figure > img {
  max-width: 100%;
  max-height: 100%;
}

#papercast-equations > equation {
  max-width: 100%;
  max-height: 100%;
}

#papercast-figures > figure {
  max-width: 100%;
  max-height: 100%;
}