---
layout: default
---

<div id="papercast-equations-figures">

    <div id="webvtt-player" data-audio="{{page.mp3}}" data-transcript="{{page.vtt}}"></div>


    <div id="papercast-figures">
        <h3>Figures</h3>
        {% for figure in page.figures %}
        <figure>
            <img src="{{figure}}" alt="">
        </figure>
        {% endfor %}
    </div>

    <div id="papercast-equations">
        <h3>Equations</h3>
        {% for equation in page.equations %}
        <equation>
            <img src="{{equation}}" alt="">
        </equation>
        {% endfor %}
    </div>


    <!-- <div class="search">
        <div class="container"><span class="icon">🔍</span><input value=""></div>
    </div> -->

</div>